.field-readonly-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.account-readonly-label {
    order: 0;
    flex-basis: 25%;
    text-align: right;
}
.account-readonly-value {
    order: 2;
    flex-basis: 70%;
}
.empty-container {
    order: 1;
    flex-basis: 5%;
}
.du-overlay {
    position: absolute;
    z-index: 900;
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.10);
}
.btn-cont {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.btn-msg-div {
    display: flex;
    flex-basis: 100%;
    order: 1;
    justify-content: center;
}
.btn-msg-div-bottom {
    display: flex;
    flex-basis: 100%;
    order: 0;
    justify-content: center;
}
.btn-div {
    display: flex;
    flex-basis: 100%;
    order: 0;
    justify-content: center;
}
.btn-div-bottom {
    display: flex;
    flex-basis: 100%;
    order: 1;
    justify-content: center;
}
.btn-msg {
    font-weight: 700;
    padding: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}
.btn-msg-read-div {
    display: flex;
    flex-basis: 50%; /*100%;*/
    order: 2;
    justify-content: center;
}
.btn-msg-read-div-flow {
    display: flex;
    flex-basis: 37%; /*100%;*/
    order: 2;
    justify-content: center;
}
.msg-container {
    display: flex;
    flex-basis: 100%; /*26%;*/
    flex-wrap: wrap;
    justify-content: center;
}
.icon-container {
    display: flex;
    order: 0;
    flex-basis: 10%; /*1%*/
    justify-content: center;
}
.text-container {
    display: flex;
    order: 1;
    flex-basis: 55%; /*90%;*/
    justify-content: center;
}
.msg-cont {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    background-color: #f0f7fb;
    /* border-left: solid 4px #3498db; */
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}