<!--
LWC Name        : BenefitsSummaryCommerciaDentall.html
Function        : LWC to display Benefit Summary Details for Dental

Modification Log:
* Developer Name                  Date                         Description
* Sagar G                      08/05/2023                      US - 4534112
* Swapnali Sonawane            01/06/2023                      US - 4658275 Dental UI Logging Summary
* Apurva Urkude                06/02/2023                      US - 4697275
* Raj Paliwal                  07/06/2023                      US: 4697276 Dental Plan- update headers per standards
* Raj Paliwal                  08/30/2023                      US: 4842308 - Remove Selling Ledger Number from Summary tab of Dental Benefits Page
*************************************************************************************************************************** -->
<template>
    <div class="slds-box slds-p-around_none">
        <div class="slds-page-header slds-page-header_record-home slds-page-header--object-home slds-page-header_joined  slds-shrink-none test-headerRegion forceListViewManagerHeader">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name='standard:record' size='medium'></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1><span class="slds-page-header__title slds-truncate slds-text-align_center slds-p-top_xx-small">Dental Summary</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template if:true={serviceerror}>
            <div class="slds-p-around_small">
                <c-generic-scoped-notification-hum type="error" iconname="utility:error" message={message}>
                </c-generic-scoped-notification-hum>
            </div>
        </template>
        <div class="slds-grid slds-gutters slds-wrap slds-m-top_x-small slds-p-left_x-small slds-p-right_x-small slds-p-bottom_small" onclick={handleLogging}>
            <div class="slds-col" style="width:100%">
                <div class="slds-grid slds-gutters slds-grid_align-spread">
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Benefits Period"
                        data-id="Benefits Period" data-value={PBEData.packageinfo}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Benefits Period
                                <c-generic-help-text-hum helptext={labels.BenefitsPeriod}></c-generic-help-text-hum>
                            </span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight: normal;" class="slds-form-element__static">
                                    {PBEData.packageinfo}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="COBRA"
                        data-id="COBRA" data-value={MBEData.Cobra}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">COBRA</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight: normal;" class="slds-form-element__static">{MBEData.Cobra}</div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Retired"
                        data-id="Retired" data-value={MBEData.Retire}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Retired</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight: normal;" class="slds-form-element__static">{MBEData.Retire}</div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Deductible Type"
                        data-id="Deductible Type" data-value={PBEData.DeductibleType}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Deductible Type
                                <c-generic-help-text-hum helptext={labels.Deductible_Type}></c-generic-help-text-hum>
                            </span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight:normal;" class="slds-form-element__static">
                                    {PBEData.DeductibleType}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Coverage Type"
                        data-id="Coverage Type" data-value={MBEData.CoverageType}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Coverage Type</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <template if:true={isMBELoading}>
                                    <div class="exampleHolder">
                                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                    </div>
                                </template>
                                <div style="font-weight: normal;" class="slds-form-element__static">
                                    {MBEData.CoverageType}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col" style="width:100%">
                <div class="slds-grid slds-gutters slds-grid_align-spread">
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Plan Option"
                        data-id="Plan Option" data-value={PBEData.planOption}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Plan Option</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight: normal;" class="slds-form-element__static">{PBEData.planOption}
				                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId}
                        data-label="Benefit Package ID" data-id="Benefit Package ID" 
			            data-value={memberPlanData.Plan.Benefit_Coverage__c}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Benefit Package ID</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight: normal;" class="slds-form-element__static">
                                    {memberPlanData.Plan.Benefit_Coverage__c}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Market"
                        data-id="Market" data-value={GBEData.Market}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Market</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight: normal;" class="slds-form-element__static">{GBEData.Market}</div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Policy Member ID"
                        data-id="Policy Member ID" data-value={memberPlanData.Name}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Policy Member ID</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <strong class="copyable slds-m-right_small slds-text-link"
                                    style="font-weight: normal;cursor:pointer;" onclick={navigateToPlanPage}>
				                    {memberPlanData.Name}
                                </strong>
                                <a role="button">
                                    <c-generic-copy-icon-hum copycontent={memberPlanData.Name}></c-generic-copy-icon-hum>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId}
                        data-label="Selling Ledger Description" data-id="Selling Ledger Description"
                        data-value={GBEData.SellingLedgerDescription}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Selling Ledger Description</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <template if:true={isGBELoading}>
                                    <div class="exampleHolder">
                                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                    </div>
                                </template>
                                <div style="font-weight: normal;" class="slds-form-element__static">
				                    {GBEData.SellingLedgerDescription}
				                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col" style="width:100%">
                <div class="slds-grid slds-gutters slds-grid_align-spread">
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId}
                        data-label="Network Description" data-id="Network Description" data-value={GBEData.GBENetworkDesc}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Network Description</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <template if:true={isGBELoading}>
                                    <div class="exampleHolder">
                                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                    </div>
                                </template>
                                <div style="font-weight: normal;" class="slds-form-element__static">
                                    {GBEData.GBENetworkDesc}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId}
                        data-label="Max Dependent Age" data-id="Max Dependent Age" data-value={GBEData.MaxDependentAge}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Max Dependent Age</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <template if:true={isGBELoading}>
                                    <div class="exampleHolder">
                                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                    </div>
                                </template>
                                <div style="font-weight: normal;" class="slds-form-element__static">
                                    {GBEData.MaxDependentAge}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId} data-label="Max Student Age"
                        data-id="Max Student Age" data-value={GBEData.MaxStudentAge}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Max Student Age</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <template if:true={isGBELoading}>
                                    <div class="exampleHolder">
                                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                    </div>
                                </template>
                                <div style="font-weight: normal;" class="slds-form-element__static">
				                	{GBEData.MaxStudentAge}
				                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col logthis" style="width:20%" data-logid={generateLogId}
                        data-label="Paid Thru Date (PTD)" data-id="Paid Thru Date (PTD)" 
			            data-value={paidThruDateMBE}>
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label slds-m-top_x-small">Paid Thru Date</span>
                            <div class="slds-form-element__control slds-m-top_x-small">
                                <div style="font-weight: normal;" class="slds-form-element__static">
					                {paidThruDateMBE}
				                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col" style="width:20%"></div>
                </div>
            </div>
        </div>
    </div>
</template>