.slds-box {
    padding: 0.8rem;
}

.slds-popover_prompt_top-right {
    top: 176px;
    position: fixed !important;
}

.exampleHolder {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.container {
   
    max-height: 260px;
}

.backgroundInverse {
    position: relative;
    background-color: white;
    height: 200px;
}