p{
    font-family: FSHumana !important;
    font-size: 18px !important;
}

.bodyFonts {
    font-family: FSHumana !important;
    font-size: 18px !important;
}
.container{
    background-color: #f8f8f8;
    padding: 40px 0;
 }