.go365 .rt_container h2 {
    font-weight: 700;
}


.go365 .rt_card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.go365 .rt_item {
    padding: 7px;
    border-radius: 28px;
    background-color: #cee6fb;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #164aad;
}

.go365 .rt_item-text {
    text-decoration: none;
    color:#164aad;
    padding: 8px 24px;
}

.go365 .rt_header{
    font-size: 20px;
    color: #58595c;
}
.go365 .topic-header{
    font-family: FSHumana;
     font-size: 20px;
     color: #58595c;
}
@media screen and (max-width:767.9px){
    .go365 .topic-header{
         font-size: 18px;
       }
}