.THIS .pageHeaderCR {
    font-size: 1rem;
    font-weight: 700;
}
.THIS .searchButtonDiv {
    text-align: right;
}
.THIS .aorComponent {
    margin-top: 0.5rem;
    border: 1px solid;
}
.THIS .borderCardBody {
    /*border: 1px dashed rgb(221, 219, 218);*/
    padding: 0.5%;
    border-radius: 4px;
}
.THIS .spinnerHolder {
    position: relative;
    display: inline-block;
    width: 100%;
    height: inherit;
}
.THIS .bodyBackground {
    background-color: rgb(194, 57, 52);
    color: #ffffff;
}
.THIS .cardBodyP {
    width: 100%;
}
.THIS .aorHolder {
    display: flex;
}
.THIS .aorHolder .aorField {
    flex-basis: 50%
}
.THIS .aorHolder .aorGap {
    flex-basis: 5%
}