.articleHeader1 {
    font-family: FSHumana;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4a7729;
  }
  
  .articleHeaderContainer{
      width: 72%;
  }
  .articleHeader2 {
    font-family: FSHumana;
    font-size: 50px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: -1px;
    color: #4a7729;
    margin-bottom: 32px;
    width: 95%;
    word-break: break-word;
  }
  .articleDetail-userInfo {
  
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #414042;
     margin-bottom: 24px;
  }
  .articleDetail-userInfoChild{
      margin-right: 40px;
  }
  .icons{
      width: 24px;
      height: 24px;
      margin-right: 6px
  }
  .bookmarkIcon{
      width: 32px;
      height: 32px;
      position: relative;
      top: 20px;
      cursor: pointer; 
   
  }
  
  @media only screen and (max-width: 700px){
      .articleDetail-userInfoChild{
          margin-right: 0px;
      }
      .articleDetail-userInfoParent{
            justify-content: space-between;
          width: 100%;
          margin-bottom: 16px;
      }
      .articleHeader2 {
          font-size: 36px;
          width: 90%;
      }
      .articleDetail-userInfo {
          font-size: 16px;
      }
      .articleHeader1{
          font-size: 16px;
      }
      .articleDetail-bodyContainer{
          padding-left: 15px;
          padding-right: 15px;
      
      }
      .articleHeaderContainer{
          width: 100%;
      }
      
      .bookmarkIcon{
      width: 24px;
      height: 24px;
      position: relative;
      top: 10px;
      }
   
  
  }