.cardContainer {

    border: solid #b0adab 1px;
    border-top : solid #b0adab 3px;
    padding-top: 14px;
    border-radius: 3px;
}

.cardHeader {
    padding-left: 14px;
}

.cardBody {
    padding-right: 14px;
}

.borderCardBody {
    padding: 0.5%;
    border-radius: 4px;
}

.spinnerHolder {
    position: relative;
    display: inline-block;
    width: 100%;
    height: inherit;
}

.cardBodyP {
    width: 100%;
}

.aorHolder {
    display: flex;
}

.aorHolder .aorField {
    flex-basis: 50%
}

.aorHolder .aorGap {
    flex-basis: 5%
}