.existingLoggingBox {
  max-width: 80rem !important;
  width: 80% !important;

  max-height: 90rem !important;
  height: 90% !important;
}

.exampleHolder {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.message {
  font-style: italic;
}