<!--
/*******************************************************************************************************************************
LWC Name        : genericCaseCommentLogging.html
Function        : LWC to display generic case comment logging.

Modification Log: 
Developer Name           Code Review                      Date                       Description
*--------------------------------------------------------------------------------------------------------------------------------
* Abhishek Mangutkar                                      04/05/2022                 Original Version - US3198914
* Jonathan Dickinson		                              09/27/2022		         REQ - 3751914
* Pinky Vijur                                             03/04/2024                 User Story 5428942: T1PRJ0865978- MF21712 Mail Order Management; Pharmacy- Guided Flow- Web Issues- Launch from pharmacy
*********************************************************************************************************************************/
-->
<template>
    <template if:false={hidePopover}>
    <div class="demo-only" style="height:24rem">
        <section role="alertdialog" tabindex="0" aria-labelledby="prompt-heading-id"
            aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal_prompt"
            aria-modal="true">
            <div class="slds-modal__container">
                <div class={headerclass}>
                    <h1 class="slds-text-heading_medium" id="prompt-heading-id">{responseobj.header}</h1>
                </div>
                <div class="slds-modal__content slds-p-around_medium" id="prompt-message-wrapper">
                    <template if:true={responseobj.tablayout}>
                        <lightning-tabset>
                            <template for:each={responseobj.data} for:item="item">
                                <lightning-tab label={item.label} key={item.label} style="height: 500px;">
                                    <lightning-formatted-rich-text value={item.value}>
                                    </lightning-formatted-rich-text>
                                </lightning-tab>
                            </template>
                        </lightning-tabset>
                    </template>
                    <template if:false={responseobj.tablayout}>
                        <template if:true={responseobj.IsHTML}>
                            <lightning-formatted-rich-text value={responseobj.message}>
                            </lightning-formatted-rich-text>
                        </template>
                        <template if:false={responseobj.IsHTML}>
                            <p class="slds-text-align_center slds-m-top_x-large slds-m-bottom_x-large">{responseobj.message}
                            </p>
                        </template>
                    </template>
                </div>
                <div class="slds-modal__footer">
                    <div class="slds-grid slds-gutters slds-grid_align-end slds-wrap">
                        <div class="slds-col slds-size_3-of-12">
                        </div>
                        <div class="slds-col slds-size_5-of-12">
                            <div class="slds-float_right slds-m-left_x-large">
                                <p class="message">Note: Please toggle switch between "New Case/Existing Case".
                                </p>
                            </div>
                        </div>
                        <div class="slds-col slds-size_2-of-12">
                            <div class="slds-float_right">
                                <label class="slds-checkbox_toggle slds-grid">
                                    <span class="slds-form-element__label slds-m-bottom_none">Log To</span>
                                    <input type="checkbox" name="checkbox-toggleLogTo" value="Log To"
                                        aria-describedby="Log To" onchange={toggleLogTo} checked={logToNewCase} />
                                    <span id="checkbox-toggle-captype1" class="slds-checkbox_faux_container"
                                        aria-live="assertive">
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-checkbox_on">New Case</span>
                                        <span class="slds-checkbox_off">Existing Case</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="slds-col slds-size_2-of-12">
                            <button title="Save & Log" onclick={handleClick} class="slds-button slds-button_brand">Save
                                & Log</button>
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <template if:true={loggingStarted}>
                                <div class="exampleHolder">
                                    <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                </div>
                                <div>
                                    <p>{loggingMessage}</p>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
    </div>
</template>
<template if:true={hidePopover}>
    <template if:true={webIssueFlow}>
        <div class="slds-modal__content slds-p-around_medium">
            <template for:each={responseobj.data} for:item="item">
                <div key={item.label}>
                    <lightning-formatted-rich-text value={item.value}>
                    </lightning-formatted-rich-text>
                </div>
            </template>
        </div>
    </template>
    <div class = "slds-modal__footer">
    <div class="slds-grid slds-gutters slds-grid_align-end slds-wrap">
        <div class="slds-col slds-size_3-of-12">
        </div>
        <div class="slds-col slds-size_5-of-12">
            <div class="slds-float_right slds-m-left_x-large">
                <p class="message">Note: Please toggle switch between "New Case/Existing Case".
                </p>
            </div>
        </div>
        <div class="slds-col slds-size_2-of-12">
            <div class="slds-float_right">
                <label class="slds-checkbox_toggle slds-grid">
                    <span class="slds-form-element__label slds-m-bottom_none">Log To</span>
                    <input type="checkbox" name="checkbox-toggleLogTo" value="Log To"
                        aria-describedby="Log To" onchange={toggleLogTo} checked={logToNewCase} />
                    <span id="" class="slds-checkbox_faux_container"
                        aria-live="assertive">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-checkbox_on">New Case</span>
                        <span class="slds-checkbox_off">Existing Case</span>
                    </span>
                </label>
            </div>
        </div>
        <div class="slds-col slds-size_2-of-12">
            <template if:true={buttonConfig}>
                <template for:each={buttonConfig} for:item="item">
                    <button key={item.label} title={item.label} onclick={handleClick} class="slds-button slds-button_brand">{item.label}</button>
                </template>
            </template>
            <template if:false={buttonConfig}>
                <button title="Save & Log" onclick={handleClick} class="slds-button slds-button_brand">Finish</button>
            </template>
            
        </div>
        <div class="slds-col slds-size_6-of-12">
        </div>
        <div class="slds-col slds-size_6-of-12">
            <template if:true={loggingStarted}>
                <div class="exampleHolder">
                    <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                </div>
                <div>
                    <p>{loggingMessage}</p>
                </div>
            </template>
        </div>
    </div> 
    </div> 
</template>
</template>