<!--
LWC Name        : pharmacyCaseLogging.html
Function        : logging template for pharmacyCreateOrder screen

Modification Log:
* Developer Name                  Date                         Description
* Swapnali Sonawane               12/05/2022                   US- 3729809 Migration of the UI enhancements in the addresses section.
*************************************************************************************************************************** -->
<template>
    <template if:true={isCreditCard}>
        <div class="slds-col slds-size_1-of-1">
            <div class="slds-grid slds-gutters slds-grid_align-end">
                <div class="slds-col">
                    <div class="slds-float_right">
                        <label class="slds-checkbox_toggle slds-grid">
                            <span class="slds-form-element__label slds-m-bottom_none">Attach To</span>
                            <input type="checkbox" name="checkbox-toggleLogTo" value="Attach To"
                                aria-describedby="Log To" onchange={toggleLogTo} checked={logToNewCase} />
                            <span id="checkbox-toggle-captype1" class="slds-checkbox_faux_container"
                                aria-live="assertive">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-checkbox_on">New Case</span>
                                <span class="slds-checkbox_off">Existing Case</span>
                            </span>
                        </label>
                    </div>
                </div>
                <lightning-button label="Cancel" class="slds-p-right_small" title="Cancel" onclick={handlePharmacyCancel}>
                </lightning-button>
                <lightning-button label="Save" title="Save" onclick={handleSaveLog}>
                </lightning-button>
            </div>
        </div>
    </template>
    <template if:false={isCreditCard}>
        <div class="slds-col slds-size_1-of-1">
            <div class="slds-grid slds-gutters slds-var-p-around_small">
                <div class="slds-col slds-size_1-of-3 slds-float_right"></div>
                <div class="slds-col slds-size_1-of-3 slds-float_right">
                    <i>Note:"To attach to a case, please use the toggle switch to "Existing Case" or "New Case"</i>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-grid slds-gutters slds-grid_align-end">
                        <div class="slds-col">
                            <div class="slds-float_right">
                                <label class="slds-checkbox_toggle slds-grid">
                                    <span class="slds-form-element__label slds-m-bottom_none">Attach To</span>
                                    <input type="checkbox" name="checkbox-toggleLogTo" value="Attach To"
                                        aria-describedby="Log To" onchange={toggleLogTo} checked={logToNewCase} />
                                    <span id="checkbox-toggle-captype2" class="slds-checkbox_faux_container"
                                        aria-live="assertive">
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-checkbox_on">New Case</span>
                                        <span class="slds-checkbox_off">Existing Case</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <lightning-button class="slds-p-right_small" label="Cancel" title="Cancel"
                            onclick={handlePharmacyCancel}>
                        </lightning-button>
                        <lightning-button disabled={disabled} variant="brand" label="Submit" title="Submit"
                            onclick={handleSaveLog}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </template>
</template>