.my-class:hover {
    --sds-c-icon-color-foreground-default: #009cdb;
    
}
.my-class2:hover lightning-icon{
    --sds-c-icon-color-foreground-default: #009cdb;
}

.my-class2 lightning-icon{
    visibility: hidden;
}

.my-class2:hover lightning-icon{
    visibility:visible;
}