.slds-card__header-title {
    font-weight: 700;
}

 .slds-has-error .slds-input {
	box-shadow: none !important;
    border: 1px solid rgb(221, 219, 218) !important;
    display: none !important;
}

.inputfield.birthdate-input .slds-form-element__control input {
	box-shadow: none !important;
    border: 1px solid rgb(221, 219, 218) !important;
    display: none !important;
}

.label-overflow {
text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

.slds-card__header.slds-grid {
    display: none !important;
}

.header.slds-card__header{
    padding: 0px;
}