.exampleHolder {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fixTableHead {
  overflow-y: auto;
}

.fixTableHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {  
  width: 100%;
}

.full-container {
  background-color: white;  
  height: 300px;
  width: 100%;
  padding-top: 0% !important;
}