.sticky-header-system-bar {
    position: sticky;
    top: 7.3rem;
    z-index: 3;
}

.info-bg {
    background-color: rgba(230, 230, 230, 0.837);

}

.sticky-header {
    position: sticky;
    top: 5.4rem;
    z-index: 3;
}

.background-template{
    background-color: #F3F2F2;
}
.detail-container{
    background-color: #fff;
}
.detail-item{
    background-color: #fff;
}

.template-full-width {
    width: 100%;
}

.template-full-height{
    height : 100%;
    min-height: 600px;
}

.visible-on-top {
    z-index: 2;
}

.app_flexipage-header_header-host{
    display: none;
}
.slds-page-header.flexipageHeader { 
    display: none !important;
}