.hc-dropdown {
    position: relative;
}

ul {
    display: block;
    position: absolute;
    z-index: 1;
    background: white;

}

.hc-dropdown-arrow {
    position: absolute;
    right: 12px;
    bottom: 10px;
}

.hc-dropdown-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 2px;
    padding-right: 12px;
}

.list-scroll {
    max-height: calc((1.5rem + 1rem)*7);
    overflow-y: auto;
}

.error-highlight {
    border-color: var(--lwc-colorBorderError,rgb(194, 57, 52));
    box-shadow: var(--lwc-colorBorderError,rgb(194, 57, 52)) 0 0 0 var(--lwc-borderWidthThin,1px) inset;
}

label.hc-generic-dropdown{
    width: 100%;
}
.customheight{
    height: auto;
    max-height: 102px;
}
.inline-error{
    box-shadow: 0 0 0 1.25pt #EA0000;
}
.re-align{
    bottom: 0px;
}
.customError{
    color: #EA0000;
}
.left-shift {
    top: -3px;
    left: 95px;
}