.headerMain{

  font-family: FSHumana;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #414042;
  margin-bottom: 20px;
}
.pointsSentence{
 
  font-family: FSHumana;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #4e8416;
  margin-bottom: 40px;
}
.header{

  font-family: FSHumana;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #414042;

}
.groupIcon{
     width: 64px;
  height: 64px;
  margin-right: 16px;
}
.width70{
    width: 70%;
}
.infoText{
  width: 86px;
  height: 20px;
  font-family: FSHumana;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #414042;
}
@media only screen and (max-width: 768px) and (min-width: 300px){
  .headerMain{
    font-family: FSHumana;
    font-size: 28px;
    font-weight: 300;
    color: #414042;
  }
  
}