.dt_container h2 {
    font-size: 36px;
    color: #414042
}
.dt_card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.dt_item {
    padding: 7px 17px;
    border: 1px solid #612166;
    border-radius: 28px;
    background-color: #ffffff;
    color: #007481;
    font-weight: bold;
    font-size: 15px;
}

.dt_item-text {
    text-decoration: none;
    color: #007481;
}

.dt_subheading {
    display: table;
    margin-top: 25px;
    width: auto;
    color: #4e8416;
    font-weight: bold;
    font-size: 16px;
}

.dt_card .dt_item{
    
    background-color: rgba(97, 33, 102, 0.15);
    
}

.dt_item .dt_item-text {
    
    color:#612166;
}