.slds-theme_warning{
    background-color:#FFB75D;
}
.slds-theme_success{
    background-color:#2e844a;
}
.slds-theme_info{
    background-color:#747474;
}
.slds-theme_error {
    background-color:#ea001e;
}