.results-container-header {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: white;
    font-size: 12px;
}

.results-container-header lightning-helptext{
    margin: 0 0 5px 5px;
}

.clms tr,
.clms th {
  flex-grow: 3;  
}
.results-table tr,
.results-table th {
    display: flex;
    font-size: 12px;
}

.results-table td,
.results-table th{
    flex: 1 1 25%;
    font-size:12px;
    align-items: center;
    white-space: normal;
}

.results-icon-col {
    max-width: 60px;
    display: flex;
    align-items: center;
}

.results-table-header th{
    background-color: #d8d8d8;
}

.results-table-cell {
    display: flex;
    align-items: center;
    word-break: break-word;
    font-size: 12px;
}

.results-table tr>td:last-child,
.results-table tr>th:last-child {
    padding-right: 6px;
}

.table-expand {
    max-width: 50%;
}

.results-row-highlight {
    background-color: #E6F0FC
}
.tooltip .tooltipContent {
    visibility: hidden;
    max-width: 280px;
    width: max-content;
  background-color: #16325c;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding-left: 10px;
      padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 60px;
  position: absolute;
  z-index: 1;
  top: -3px;
    left: -180px;
    bottom: -3px;
    right: 600px;
  margin-left: -50px;
  font-weight: 400 !important;
  

}
 .tooltipContent::after {
    content: "";
    position:absolute;
    top:100%;
    left:5%;
    margin-left: -0px;
    
}

.tooltip:hover .tooltipContent {
    visibility: visible;
    font-size: 0.75rem ;
    
}
.tooltip {
    position: relative;
    
}