.messageBox {
    width: 360px;
    height: 281px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
      position: fixed;
      top: 250px;
      z-index: 999;
      left: 800px;
  }
  .header {
    font-family: FSHumana;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #414042;
  }
  .closeText {
    width: 36px;
    height: 23px;
    font-family: FSHumana;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #6b6c6f;
    cursor: pointer; 
  }
  .sendButton{
      margin-top: 0;
  }
  .modalHeader{
    font-family: FSHumana;
 font-size: 22px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.36;
 letter-spacing: normal;
 color: #414042;
}
.closeButton {

 font-family: FSHumana;
 font-size: 15px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.53;
 letter-spacing: normal;
 color: #6b6c6f;
}

.textArea{
  color: #414042;
}

.ssp-desktopView {
   display: block;
}
.ssp-mobileView {
   display: none;
}
.bodyPadding{
 padding: 20px;
}

.ssp-desktopView{
  width: 410px ;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  background-color: #fff;
  padding: 20px;
  position: fixed;
  top: 225px !important;
  z-index: 999;
  left: 65% !important;
}

@media screen and (max-width:767.9px){
    .sendMessageButton{
                   margin-left: 0;
    }    
}
@media only screen and (max-width: 767px) {
  .ssp-desktopView {
                 display: none;
 }
 .ssp-mobileView {
                display: block;
 }
.sendMessageButton.slds-m-left_medium{
                margin-left: 0;
 }
}