<?xml version="1.0" encoding="UTF-8"?>
<web-app id="PortletBrowser" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>PortletBrowser</display-name>
	<servlet>
		<description>Main portal application renderer</description>
		<display-name>RenderInvoker</display-name>
		<servlet-name>RenderInvoker</servlet-name>
		<servlet-class>com.sap.portletbrowser.RenderInvoker</servlet-class>
	</servlet>
	<servlet>
		<description>portlet browser</description>
		<display-name>PortletBrowser</display-name>
		<servlet-name>PortletBrowser</servlet-name>
		<servlet-class>com.sap.portletbrowser.PortletBrowser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PortalPageAdmin</servlet-name>
		<servlet-class>com.sap.portletbrowser.PortalPageAdmin</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RenderInvoker</servlet-name>
		<url-pattern>/RenderInvoker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortletBrowser</servlet-name>
		<url-pattern>/PortletBrowser</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PortalPageAdmin</servlet-name>
		<url-pattern>/PortalPageAdmin</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>APPLICATION_MODE</param-name>
		<param-value>debug</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			com.sap.portletbrowser.listener.ContextListener
		</listener-class>
	</listener>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>PortletBrowser</web-resource-name>
			<description>Protected area</description>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Administrators Role is required for managing applications</description>
			<role-name>Administrators</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Portlet Browser</realm-name>
	</login-config>
	<security-role>
		<role-name>Administrators</role-name>
	</security-role>
</web-app>
