.crm_date-style
{
    -webkit-appearance : none;
    -webkit-text-fill-color: #444444;
    opacity:1;
}

.crm_criteria-card{
    background: rgb(255, 255, 255);
    padding: 10px 15px 15px;
    border: solid 1px #c9c9c9;
}

.crm_criteria-title{
    font-weight: 700;
    font-size: 19px;
    margin-bottom:10px
}

.crm_spinner
{
    position: fixed;
}

.crm_action_footer
{
    display:flex;
    gap:10px;
}

@media screen and (max-width: 420px)
{
    .crm_action_footer {
        flex-direction: column;
    }
}