.qd-gamification{
    background-color: #efeff0;
}
.card-title h2{
  font-family: FSHumana;
  font-size: 20px;
  color: #414042;
  text-align: center;
}
h3.doller:after {
    content: ' \0024';
    font-size: 36px;
    font-family: FSHumana;
    color:#4e8416;
}
.doller-section{
    border: 2px solid #4e8416;
    width: 64px;
    height: 64px;
    border-radius: 2rem;
}
.card-header h2{
  font-family: FSHumana;
  font-size: 18px;
  color: #414042;
}

.card-header .earn-points{
  font-family: FSHumana;
  font-size: 14px;
  font-weight: normal;
  color: #4a7729;
}

.card-header .earn-points span{
    font-weight: bold; 
  }
  .card-wrapper{
      display:flex;
      justify-content: space-between;
  }

  @media only screen and (max-width: 768px) and (min-width: 300px){
      .mobile-cards{
        display: flex;
        flex-direction: column;
      }
    
  }