.slds-modal__container{ 
    height : auto;  
    max-width: 70rem !important;
    width:40% !important;
    padding-top:150px; 
  } 
  .slds-modal__content{
      padding-top :0px;
      padding-right :0px;
      padding-bottom :0px;
      padding-left :0px;
  }
  .start-help-text {
    position:absolute;
    top: 0rem;
    left: 2.8rem; 
}
.slds-hForm {
    padding-top: 15px;
}

.customtop{
    top: -15px;
}  
.modal_height{
    height: 70%;
}
.left-shift{
    left: 33px;
}