.bookmark-heading{
  font-family: FSHumana;
  font-size: 18px;
  font-weight: bold;
  color: #414042;
}

.welless-section ul li a{
    font-family: FSHumana;
  font-size: 18px;
  font-weight: bold;
  color: #164aad ;
  text-decoration: underline;
}