.refreshIcon { 
    position:absolute;
    margin-top: 2.5rem;
    margin-left: 28%;
}
.eventBtn { 
    position:absolute;
    margin-top: 2.5rem;
    margin-left: 35%;
}
.overflowClass .slds-truncate {
    text-overflow: ellipsis !important;
    white-space: normal !important;
    word-wrap: break-word !important;
}