.divStyle{
    border-top: 1px solid;
    border-bottom: 1px solid
}
.divStyleMSG{
    border-top: 1px solid; 
    border-top-color : #c9c7c5;
    padding-top: 20px;
}
.accordianStyle{
    --slds-c-accordion-heading-font-size : 0.813rem;
}
.selectMsg{
    font-weight: bold;
    font-size: 0.85rem; 
}
.followUpMsg{
    font-style: italic;
}
.noRecommendation{
    font-size : 0.85rem;
    font-weight: bold;
}
.upcomingEventDisplay{
    font-size : 0.85rem;
    font-weight: bold;
    margin-left: 1 em;
}
.recommendationNote{
    font-size : 0.85rem;
    font-weight: bold;
    margin-left: 1em;
}