.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.textAreaBody {
    --sds-c-textarea-sizing-min-height:125px;
    --sds-c-textarea-sizing-max-height:125px;
}

.customicon{
    --sds-c-icon-color-background: white;
    --sds-c-icon-color-foreground-default: #969492;
    padding:4px
}


/*table th{
    border: 1px solid;
    border-collapse: collapse;
}*/

.container {
    max-height: 160px;
}


/**/
/*
.hc-dropdown {
    position: relative;
}

ul {
    display: block;
    position: absolute;
    z-index: 1;
    background: white;
}

ul li:focus {
    background-color: var(--lwc-colorBackgroundRowHover,rgb(243, 242, 242));
    text-decoration: none;
}

.hc-dropdown-arrow {
    position: absolute;    
    right: 12px;
    top: 45%;
    padding: 6px;
}

.hc-dropdown-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 2px;
    padding-right: 8px;
}

.list-scroll {
    max-height: calc((1.5rem + 1rem)*7);
    overflow-y: auto;
}

.error-highlight {
    border-color: var(--lwc-colorBorderError,rgb(194, 57, 52));
    box-shadow: var(--lwc-colorBorderError,rgb(194, 57, 52)) 0 0 0 var(--lwc-borderWidthThin,1px) inset;
}

label.hc-generic-dropdown{
    width: 100%;
}

.has-error {
    color: var(--lwc-colorTextError,rgb(234, 0, 30))
}

.close-icon {
    margin-top: -3px;
}*/