.alerts-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .5rem;
    align-items: center;
}

.rcc-alert.alerts-container {
    flex-direction: row-reverse;
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 0 ;
}

.alert-icon {
    height: auto;
    width: max-content;
    border-radius: 2rem;
    background-color: #FF9A3C;
}

.no-alerts {
    background-color: #C9C7C5;
}

.no-alerts ~ a {
    cursor: default;
}

.no-alerts ~ a:hover {
    text-decoration: none;
}

.closebutton {
    font: inherit;
    text-transform: none;
    cursor: pointer;
    white-space: normal;
    user-select: none;
    line-height: 14px;
    color: #fff;
    fill: currentColor;
    margin-top:7px;
}
.circle {
    color: white;
    background-color: rgb(1, 118, 211);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    position: absolute ; 
    left:29px;
    top: -4px;
    
}
.alerticon {
    background-color: orange;
    margin-right: 10px;
    padding: .4rem;
}
.noalerticon {
    background-color: gray;
    margin-right: 10px;
    padding: .4rem;
}

.buttons {
    border:none; background-color: Transparent; background-repeat:no-repeat; cursor:pointer; overflow: hidden; outline:none;

}
.closebutton {
    border:none;
    outline:none;
    margin-top:7px;
}
.gboSection
{width:400px; position: absolute; top:50px; left: -352px;}

.rccSection 
{
    width:400px; position: absolute; top:50px; left: -3px;
}
.slds-modal__container {
    width: 27rem !important;
}