.dummy{
	color : black;
}
.btn-size button{
	width: 35px;
    height: 10px;
}
.slds-notify_alert{
    justify-content: left;
}

.slds-scoped-notification{
    color: black;
}

.my-icon{
    --sds-c-icon-color-foreground-default: black;
}

.my-text{
    color:black;
}

.my-text-error {
    color: #c23934;
}