<!--
LWC Name        : pcpquestions.html
Function        : LWC to display pcp questions.

Modification Log:
* Developer Name                  Date                         Description
*------------------------------------------------------------------------------------------------------------------------------
* Nirmal Garg                     08/12/2022                  initial version US3410898
* Kalyani Pachpol                 05/29/2023                  DF-7688
****************************************************************************************************************************-->
<template>
    <lightning-card>
        <div class="slds-p-around_x-small">
            <div class="slds-m-bottom_large slds-border_bottom">
                <c-pcp-update-current-pcp-hum currentpcpname={currentpcpname} change-reason-options={changeReasonOptions}
                                              onreasonchange={handleReasonChange} oneffectivedatechange={handleEffectiveDateChange}
                                              change-reason={changeReason}
                                              other-reason={otherReason}
                                              onotherreason={handleOtherReasonDetails} bpcpquestion>
                </c-pcp-update-current-pcp-hum>
            </div>
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1">
                    <div class="slds-scrollable_y pcp-change-questions">
                        <div class="slds-text-heading_medium slds-m-top_small slds-m-bottom_large">
                            <b>
                                PCP Change
                                Questions
                            </b>
                        </div>
                        <template if:true={pcpupdatequestion}>
                            <template for:each={pcpupdatequestion} for:item="element">
                                <template if:true={element.Required}>
                                    <lightning-radio-group key={element.Id} label={element.Question}
                                                           options={element.Options} class="validate" type="radio"
                                                           onchange={handleAnswerChange} required disabled={element.disabled}
                                                           data-id={element.Id} value={element.Answer} data-name="PCP Question">
                                    </lightning-radio-group>
                                </template>
                                <template if:false={element.Required}>
                                    <lightning-radio-group key={element.Id} label={element.Question}
                                                           options={element.Options} type="radio" onchange={handleAnswerChange}
                                                           data-id={element.Id} value={element.Answer} data-name="PCP Question">
                                    </lightning-radio-group>
                                </template>
                            </template>
                        </template>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <div class="slds-grid slds-grid_align-end">
                        <div class="slds-col">
                            <lightning-button variant="brand" label="Save & Next" title="Save & Next"
                                              onclick={handleFinish} disabled={disableNextSaveButton} class="slds-float_right"
                                              name="SaveAndNext">
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>