.slds-button_brand{

    width: 84px;
    height: 44px;
    border-radius: 4px;
    background-color: #164aad;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    float:left;
  }
  
  .slds-modal__title{
  
    font-family: FSHumana;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #414042;
    text-align: left;
  }