.table-header{
    background-color: white;
}
.slds-cell-fixed {
    background-color: white;}

.slds-table--header-fixed_container:before {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--slds-g-color-border-base-1, var(--lwc-colorBorder,rgb(229, 229, 229)));
    content: '';
    display: inline;
    position: relative;
    width: 100%;
}

.slds-table--header-fixed_container {
    background-color: white;
    box-sizing: content-box;
}