.slds-card__header-title.hc-standard-table-styles {
    background: #f5f1f3;
    padding: .5rem 1rem;
}

.sticky-header {
    overflow: hidden;
    height: 100%; 
    position: absolute
}

.hc-scrollable {
    overflow-y: auto;
}

.hc-align-header {
    justify-content: space-between; 
}

.hc-grid-align {
    justify-content: space-between;
    max-width: 75%;
}

.hc-custom-display .hc-column-style {
    display: block !important;
}
.medicare-calls-cc{
	color : #2a5f95;
	font-size : 100%;
	font-weight : bold;
}
.reminder-message{
	color:red;
    font-size : 85%;
	font-weight : bold;
}
.slds-input__icon.iconpointerevetns{
    pointer-events:all
}

.align-icons{
    margin-top: 1%;
}