.an_container {
    background-color: #f8f8f8;
    padding: 0 10px;
    max-height: 25rem;
    overflow-y: scroll;
}


.announcementgrp{
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
}

.an_image {
    width: 35px;
    height: 40px;
}

.an_topic-container {
    border-bottom: 1px solid #d3d3d3;
    padding: 1rem 0;
}

.an_topic-container h3{
    font-family: FSHumana;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.16px;
    color: #414042;
  }
  
  .an_topic-container .desc-text{
      font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.16px;
    color: #414042;
    word-break: break-all;
  }
  
  .an_topic-container a{
    font-size: 16px;
    font-weight: bold;
    color: #007481;
  }

.an_topic {
    font-size: 18px;
    color: #414042;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.an_heading {
    font-size: 36px;
    font-weight: 300;
    color: #414042;
}

.an_list-item{
    width: 100%;
}

@media only screen and (max-width: 740px){
    .an_topic-container {
        padding: 0;
    }
    .an_topic-container h3 {        
        padding-top: 1rem;
    }

    .an_heading {
        font-size: 20px;
    }

    .an_container {
        padding: 10px;
    }
    .an_image{
        width: 35px;
        height: 30px;
    }
    .announcementgrp{
        margin: 0;
        width: 100%;
        justify-content: flex-start;
    }
    .an_topic-container a{
        margin-bottom: 8px;
        display: inline-block;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 741px){
    .an_heading {
        font-size: 31px;
    }
}