.custom-help-text {
    position:absolute;
    max-width: 450px;
    width: max-content;
    font-weight: 400 !important;
    z-index: 2;
}

.custom-tooltip-icon:hover {
    color: var(--sds-c-button-text-color-hover, var(--lwc-brandAccessibleActive,rgb(0, 95, 178)))
}

.custom-tooltip-link {
    text-decoration: underline;
    color: rgb(0, 95, 178);
    cursor: pointer;
}

.custom-help-text-type-link .custom-help-text{
    top: 25px;
    left: 0;
}

.hc-popover-top {
    bottom: -90%;
    left: 40px;
}

.hc-popover-right {
    top: -40%;
    left: 40px;
}

.hc-popover-bottom {
    top: 28px;
    right: -190px;
}

.hc-popover-left {
    top: 0;
    right: 25px;
}

.hc-icon-tooltip .hc-popover-right {
    top: 0;
    left: 15rem;
}

.hc-icon-tooltip .hc-popover-left {
    left: 2rem;
    top: unset;
}