.pageTitle{
	font-size: large;
	padding-left: 2 em;
}
.positionBtn{
	margin-top: 0px !important;
}
.positionBtn .slds-col,[class*=slds-col_padded],[class*=slds-col--padded] {
	flex: 1 1;	
}
.spinnerClass{
	position: fixed !important;
	width: 100%;
}
.spacingClass{
	width: 50%;
	max-width: fit-content;
}
.adjustWidth{
	padding-left: 1em;
	padding-right: 1em;
	max-height: calc(100vh - 20em) !important;
	overflow-y:auto !important;	
	max-width: calc(100vw - 5em) !important;
}
.slds-scrollable_y{
	max-height: calc(100vh - 10em) !important;
	overflow-y:auto !important;
	max-width: calc(100vw - 5em) !important;	
}
.slds-scrollable_x{
	overflow:hidden !important;
}
.memberIconStyle{
	width : 25px;
    height : 25px;
	color : grey;  
}
.buttonPosition{
	padding-left: 4.9em;
}

.crm_grid{
	display: grid;
	gap: 10px;
	grid-template-columns: auto 1fr;
	align-items:center;
    padding: 1.5rem 1rem 0rem 1rem;
}

.crm_grid-phoneandid{
	display: grid;
	grid-template-columns: 38% 10% auto;
	gap: 7px;
	align-items: start;
}

.crm_or-badge{
	margin-top: 26px;
}

.crm_standalone_grid
{
    display: grid;
    grid-template-columns: 38% 10% 38%; 
    column-gap: 7px;
    align-items: start;
    padding: 1rem 1rem 1rem;
}

.crm_grouped_grid{
    display: grid;
    grid-template-columns: 38% 38%;
    column-gap: 11%;
    row-gap: 1rem;
    padding: 0rem 1rem;
}

.yesButton{
    padding-right:15px;
}