.title-padding {
    padding-left: 1.5rem;
}

.section-padding {
    padding-left: 3rem;
}
.custom-spacing {
    justify-content: space-between
}

.no-EligibilityResult {
    text-align:center;
    color:gray
}
.logdata{    
    background: #F0F8FF;
    border: 1px dashed #0070D2;
    box-sizing: border-box;
}