.uploadHeader{
    padding-left: 19px;
    margin-bottom: -31px;
}
.fileNameColor{
    font-weight:bold
}
.marginToHeader{
    margin-top:25px;
    margin-bottom: -22px;
}
.blue-icon{
    --lwc-colorTextIconDefault: #3989c6;
}
.ExportMargin{
    margin-left :.7rem;
}
.ImportCompMargin{
    margin-top: -.8rem;
}
.CreateRecMargin{
    margin-top:-1rem;
}