/* Modification Log: 
Developer Name                  Date                       Description
* ===============================================================================
* Mohan kumar               03/10/2021                    US: 2039867
*/
.ch-custom-date-button {
    max-height: 31px;
}

.ch-date-picker {
    width: 16%;
    min-width: 108px;
    flex: none;
}


.ch-date-picker button{
    padding-left: 0;
}
.ch-date-button-arrow {
    position: absolute;
    top: 7px;
    right: 5px;
}