.footer-wrapper {
   background-color: #0e328f;
   padding-left: 4.5rem;
    padding-right: 4.5rem;  
}

.footer-wrapper .row1,
.footer-wrapper .row2,
.footer-wrapper .row3{
  width: 100%;
}
.footer-wrapper .row1,
.footer-wrapper .row2 {
  border-bottom: 4px solid #3e68d5;
}

.footer-wrapper .row2{
  border-bottom-width: 1px;
}

.footer-link {
  padding-right: 8px;
  padding-left: 8px;
}

.footer-link,
.footer-wrapper .row3 {
  color: #fff;
  font-size: 14px;
}
.footer-wrapper .row1 {
  align-items: center;
}


.footer-link:not(:last-child) {
  border-right: 1px solid #fff;
}

.go365-link{
  border: 2px solid #3e68d5;
  border-radius: 45px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.16px;
  color: #fff;
}
.footer-cookies-image {
  padding-left: 4px;
}

@media only screen and (max-width: 768px) and (min-width: 300px){
  .footer-wrapper{
    padding-left: 1.5rem;
    padding-right: 1.5rem;  
  }
  .footer-wrapper .row1>div:first-child,
  .footer-wrapper .row1>div:last-child{
    justify-content: center;
  }
  .footer-link{
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 8px;
  }
  .footer-icon {
    text-align: center;
  }
  .footer-external-link{
    margin-bottom: 1.5rem;
    justify-content: center;
  }
  .go365-link{
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
  .margin-right-none-mobile{
    margin-right: 0;
  }
  .padding-right-none-mobile{
    padding-right: 0;
  }
  .app-store-link{
    width: 51%;
  }
  .footer-copyright{
    text-align: center;
  }
}