.hContent {
    background: #f3f2f2;
    padding: 0;
}

.hc-search-tab-container {
    background-color: #ececec;
}

.app {
    background-color: #fafaf9;
}

.container-sticky-ilp {
    position: fixed;
    bottom: 5%;
    left: 17.8%;
    max-width: 79.3%;
}

.container-sticky-ilp-none {
    display: none;
}