/*
LWC CSS Name       : commonHighlightPanelIconHum.css
Function           : Component level styles to commonHighlightPanelIconHum.html

Modification Log:
* Developer Name                        Date                       Description
*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
* Nilanjana Sanyal                     03/16/2022 				Initial version - Saperating the icon display in a common component (US-3091965, US-3091967)




******************************************************************************************************************************************************************** */
.member-icons c-custom-tooltip-hum {
    position: absolute;
    left: .5rem;
    bottom: .5rem;
}
.member-icons img {
    height: 2rem;
}
.icons-container {
    align-items: flex-end
}
/* For look and feel of the dropdown icon */
.buttonStyle {
    width:24px; 
    height:24px;
    padding:5px;
    /*background: white;*/
    /*top: 60%;
    position: absolute;*/
}