.circle {
    color: white;
    background-color: rgb(1, 118, 211);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    position: absolute ; 
    left:29px;
    top: -4px;
    
}
.alerticon {
    background-color: orange;
    margin-right: 10px;
    padding: .4rem;
}
.noalerticon {
    background-color: gray;
    margin-right: 10px;
    padding: .4rem;
}

.buttons {
    border:none; background-color: Transparent; background-repeat:no-repeat; cursor:pointer; overflow: hidden; outline:none;

}