.full-container {
    height: 100%;
    width: 100%;
}

.security-header {
    display: flex;
    width: 100%;
}

.security-header-icon-align{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

.wrapped-content{
    inline-size: 150px;
    overflow-wrap: break-word;
}