.tableClass thead th span {
    background-color: #16325c ! important;      
}

.tableClass {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
 
.tableClass td,
.tableClass th {
    border: 1px solid #ddd ! important;
    padding: 8px;
}
.left-align{
    margin-left: 5px;
    text-align: left;
}

 /*below CSS for show Additional Filter link box */
    
      .card{                    
        background-color: white;
    }
      .showFilters{
          font-family: Arial, Bold;
          font-size: 15px;
          line-height: 20px;
          color: #000000;
          opacity: 0.5;
          padding-bottom: 6px;     
        
      }


.showHideLink{
    margin-top: -12px;
    border-top-color: white;
    border-right: hidden;
    border-left: hidden;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    /* padding-left: 6px; */
    width: 300px;
}
.dropbtn {
    background-color: #4CAF50;
    
    width: 1500px;
    padding: 5px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position:relative;
  /*  min-width: 160px;*/
    width: 1500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    width: 1500px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
    .noMargin{
    margin:0;
  }