.slds-hForm {
    padding-top: 15px;
}

.form-header {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    padding: 20px 0;
}

.form-format{
    padding: 10px;
    
}

.start-help-text {
    top: 0rem;
    left: 15%;
}

.start-help-text-id{
    top: 5.3rem;
    left: 2.5%;
}

.start-help-text-suffix{
    top: 5.3rem;
    left: 15%; 
}

.start-help-text-PID{
    position: absolute;
    top: 0rem;
    left: 13.5%; 
}

.message-container {
    display: block;
    padding-top: 10px;
}

.highlighted-input {
    border-color: red;
}

.result-container {
    background-color: #ECECEC;
}

.container-sticky {
    position: sticky;
    top: 3rem;
}