.pageHeaderCR {
    font-size: 1.25rem;
    padding-left: 3%;
}
.homeSaveDivClass {
    margin-top: 1.5rem;
}
.comboBox{
    Position:Absolute;
    width: 9rem;
}
.comboBoxInteraction{
    width: 13rem; 
}
.endDateDivInteraction{
    width: 11rem;
}
.refreshIconOnIDC{
    right: 0px;
    position: absolute;
    margin-right: 40px;
    margin-top: 5px;
}
.endDateDiv{
    margin-left: 8px!important; 
    width:45%!important;
}
.homeDefaultClass {
    margin-left: 1%;
    float: right;
    margin-right: 1rem;
}
.homeSavedC{
    margin-left: 1%;
}
.homeDefaultDivClass {
    margin-top: 1.5rem;
}
.locationCRM.slds-card__header {
    margin: 0;
    padding: 0;
}
.locationCRM.slds-card__body {
    margin-bottom: 0;
}.locationCRM {
    height: 11rem;
}
.noLeftPadding {
    padding-left: 0px;
}
.noRightPadding {
    padding-right: 0px;
}
.noBottomPadding {
    padding-bottom: 0px;
}
.noPadding {
    padding-left: 0px;
    padding-right: 0px;
}
.noBottomMargin {
    margin-bottom: 0px;
}
.endDateMessageDiv {
    color: red;
}
.closeDatePicker.uiDatePicker {
    display: none;
}
.openDatePicker.uiDatePicker {
    display: block;
}
.attendanceLabel{
    margin-right: 0.625rem;
}
.icons{
    margin-left: 0.438rem;
    margin-top: 0.125rem;
}
.form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: var(--lwc-colorTextLabel,rgb(62, 62, 60));
    padding-right: var(--lwc-varSpacingHorizontalXSmall,0.5rem);
    padding-top: var(--lwc-varSpacingVerticalXxSmall,0.25rem);
    margin-bottom: var(--lwc-varSpacingVerticalXxxSmall,0.125rem);
}