.FormBackGround {
    background-color: #ffffff;
}
.SectionHeader {
    font-size: 1rem;
    color: #ffffff;
    /*background-color: #1b5297;*/
    background: linear-gradient(to right, #1b5297 0%, #669999 100%);
    /*background: linear-gradient(to right, #1b5297 0%, #ffffff 100%);*/
    font-weight: bold;
    border-radius: 9px 9px 0px 0px;
}
.Section {
    border: 1px solid #bebebe;
    border-radius: 10px;
    margin: 1%;
    box-sizing: content-box;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.SectionHeaderH2 {
    padding: 0.5rem;
    padding-left: 1rem;
}
.oneOoneModalOpacity{
    opacity:0;
}
.close_Button_Screening{
	margin-top: 53px;
    margin-right: 25px;
}
.close_Button_Record_Edit_Form{
	margin-top: 53px;
    margin-right: 24px;
}
.close_Button_Conf{
	margin-top: 53px;
    margin-right: 24px;
}
.border_confirmation{
    border: 1px solid #bebebe;
}
.dualListWidth{
    width : 60%;
}
.confirmationModalMargin{
    margin-bottom: 28px;
    margin-top: 28px;
    margin-left:13px;
}
.InputWidth{
    width:24.3rem;
    margin-left: 4px;
}
.slds-column-width-specify{       
    margin-left: 2px;    
    width: 391px;
}
.paddingAroundLastModiBy{
    padding-top: 24px;
}
.paddingAroundCreatedBy{
    padding-top: 24px;
}
.slds-width-adjust{    
        padding-left: 2.5px;
        padding-right: 2px;    
}
.modalBody{
    position:relative;
}
.recentOOOSection{
    padding: 12px;
}