.tooltip .tooltipContent {
    visibility:hidden;
	max-width:310px;
    width:max-content;
    background-color: #16325c;
    color: #fff;
    text-align: left;
    position: absolute;
    z-index : 1;
    bottom:150%;
    left: -150%;
    margin-left: 10px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-weight: 480;
    border-radius: 4px;
    font-size: 0.75rem ;
    font-style: bold;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    
    

}
 .tooltipContent::after {
    content: "";
    position:absolute;
    top:100%;
    left:5%;
    margin-left: -5px;
    border-width:10px;
    border-style:solid;
    border-color:#16325c transparent transparent transparent;
}

.tooltip:hover .tooltipContent {
    visibility: visible;
    
    
}
.tooltip {
    position: relative;
    
}

.myicon:hover {
    
    --sds-c-icon-color-foreground: #f7f9f8;
    --lwc-colorTextIconDefault:rgba(53, 93, 150, 1);
    
}