.field-editable-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.account-editable-label {
    order: 0;
    flex-basis: 20%;
    text-align: right;
    position: relative;
}
.account-editable-value {
    order: 2;
    flex-basis: 35%;
}
.account-editable-cb-value {
    order: 2;
    flex-basis: 70%;
    text-align: right;
    margin: 2%;
}
.account-editable-cb-value .slds-form-element__label {
    color: rgb(22, 50, 92) !important; /*#000 !important;*/
}
.update-cb-value {
    /* float: right; */
    display: block;
    flex-basis: 80%;
}
.update-cb-value .slds-form-element__label {
    color: rgb(22, 50, 92) !important;
}
.empty-container-last {
    order: 3;
    flex-basis: 5%;
}
.account-editable-label-text {
    position: absolute;
    top: 25%;
    right: 0;
}
.flow-status-label {
    color: green !important;
    font-size: smaller;
}
.flow-note {
    font-size: 13px; 
}
.option-header {
    /*font-weight: 700; */ 
    padding-bottom: 2%;
}
.option-label {
    font-size: 14px !important;
}
/* US1441116 Start */

.noteAlt {
    background-color: #f3f3f3;
    border-left: #f3f3f3;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}
.msg-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1rem;
    background-color: #f3f3f3;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}
.icon-container {
    display: flex;
    order: 0;
    flex-basis: 10%;
    justify-content: space-around;
}
.space-container {
    display: flex;
    order: 1;
    flex-basis: 5%;
    justify-content: space-around;
}
.text-container {
    display: flex;
    order: 2;
    flex-basis: 85%;
}
/* US1441116 End */