:host {
    --sds-c-badge-color-background: #0C9DDA;
    --sds-c-badge-text-color: #FFFFFF;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }