.contentdisplay{
    display:contents;
}
.contentMargin{
    margin-left:5px;
    margin-top:-4px;
}
.slds-backdrop_open{
    opacity:0.5;
}
.slds-modal__container{
    max-width: 40rem !important;
    min-width:40% !important;
}