.start-help-text{
    top: 1.8rem;
    left: 6.6rem;
}

.form-header {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    padding: 20px 0;
}

.container-sticky {
    position: sticky;
    top: 3rem;
}