.panel{
    width: 100%;
    max-height: 280px;
    left: 17.8%;
    max-width: 50%;
    box-shadow: none;
  }



  .button-css:hover {
    background-color: lightblue;
    /* color: black; */
  }


  .password-modal-css {
    padding-top: 0%;
  }

  .slds-text-color_success{
    font-weight: bold;
  }

 .slds-utility-bar_container {
  overflow: initial;
 }

 .slds-utility-panel{
  overflow: initial;
 }

 .slds-utility-panel__header{
  overflow: initial;
  border-block-color: white;
 }

 .slds-utility-panel__body{
  overflow: initial;
 }
 .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_faux{
    --slds-c-checkbox-toggle-color-background: red;
    --slds-c-checkbox-toggle-color-border:red;
  }
  .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    --slds-c-checkbox-toggle-color-background-checked: green;
    --slds-c-checkbox-toggle-color-background: green;
    --slds-c-checkbox-toggle-color-border:green;
  }
  .slds-checkbox_toggle [type=checkbox][disabled]+.slds-checkbox_faux_container .slds-checkbox_faux{
    pointer-events: none;
    background-color: green;
    border-color: green;
  }
  .slds-theme_error
  {
    color: #fff;
    background: red;
    -webkit-text-fill-color: white;
  }