.container-lip-2 {
  width: 100%;
  height: 36.5%;
  left: 17.8%;
  max-width: 79.3%;
  box-shadow: none;
  /* overflow: initial !important; */
}

@media (min-height: 600px) and (max-height: 768px) {
  .container-lip-2 {
    width: 100%;
    height: 36.5% !important;
    left: 17.8%;
    max-width: 79.3%;
    box-shadow: none;
    /* overflow: initial !important; */
  }
}


@media (min-height: 768px) and (max-height: 900px) {
  .container-lip-2 {
    width: 100%;
    height: 30% !important;
    left: 17.8%;
    max-width: 79.3%;
    box-shadow: none;
    /* overflow: initial !important; */
  }
}

@media (min-height: 350px) and (max-height: 599px) {
  .container-lip-2 {
    width: 100%;
    height: 48% !important;
    left: 17.8%;
    max-width: 79.3%;
    box-shadow: none;
    /* overflow: initial !important; */
  }
}

@media (min-height: 900px) and (max-height: 1024px) {
  .container-lip-2 {
    width: 100%;
    height: 25%;
    left: 17.8%;
    max-width: 79.3%;
    box-shadow: none;
    /* overflow: initial !important; */
  }
}

.card-lip {
  width: 100%;
}

.card-header-lip {
  margin-bottom: 0%;
  padding-top: 0.3%;
}

.card-body-lip {
  margin: 0%;
  padding: 0%;
}

.card-buttons-lip {
  margin-right: 1.8%;
  margin-top: 0.5%;
  margin-bottom: 0.3%;
}

.container-lip-3 {
  width: 100%;
  height: 12%;
  left: 17.8%;
  max-width: 79.3%;
  box-shadow: none;
  /*left: 17%;
    max-width: 80.8%;    */
}

@media (max-height: 769px) {
  .container-lip-3 {
    width: 100%;
    height: 12% !important;
    left: 17.8%;
    max-width: 79.3%;
    box-shadow: none;
  }
}

@media (max-height: 901px) {
  .container-lip-3 {
    width: 100%;
    height: 10%;
    left: 17.8%;
    max-width: 79.3%;
    box-shadow: none;
  }
}

.container-lip-4 {
  display: none;
}

.container-lip-5 {
  height: 100%;
  left: 17%;
  width: 100%;
}

.layout-item-class {
  padding-top: 0%;
  padding-bottom: 0%;
}

.container-lip-6 {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 1%;
  margin-left: 1%;
}

.container-lip-7 {
  width: 100%;
}

.layout-item-css {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* .layout-item-css {
    padding-top: 9.375%;
    padding-bottom: 9.375%;
    padding-left: 62.5%;
    padding-right: 62.5%;
} */

.button-css:hover {
  background-color: lightblue;
  /* color: black; */
}

.container-lip-acc {
  width: 100%;
  height: 36%;
}
@media (min-height: 600px) and (max-height: 768px) {
  .container-lip-acc {
    width: 100%;
    height: 36.5% !important;
  }
}

@media (min-height: 768px) and (max-height: 900px) {
  .container-lip-acc {
    width: 100%;
    height: 30.5% !important;
  }
}

@media (min-height: 350px) and (max-height: 599px)  {
  .container-lip-acc {
    width: 100%;
    height: 48% !important;
  }
}

@media (min-height: 900px) and (max-height: 1024px) {
  .container-lip-acc {
    width: 100%;
    height: 25%;
  }
}

.container-lip-acc-2 {
  width: 100%;
  height: 12%;
}
@media (max-height: 769px) {
  .container-lip-acc-2 {
    width: 100%;
    height: 12% !important;
  }
}

@media (max-height: 901px) {
  .container-lip-acc-2 {
    width: 100%;
    height: 10%;
  }
}
.password-modal-css {
  padding-top: 0%;
}