/*
File Name        : pharmacyHpieAddressHum.css 
Modification Log :
* Developer                          Date                  Description
*************************************************************************************************
* Jonathan Dickinson			        09/22/2023				   User Story 5061288: T1PRJ0870026   MF 27406 HPIE/CRM - SF Tech- Mail Order Management - Pharmacy -  Details tab - Address section
**************************************************************************************************/

.setlabel:after {
  content: " *";
  color: red;
  font-size: 10px;
}

.setlabel,
.setlabel1 {
  font-weight: bold;
}

.addressTypePill {
  color: #006dcc !important;
}

.cancelBtn {
  border-color: #dddbda;
  color: red;
}

.cancelBtn:hover {
  border-color: red;
  color: red;
}

.centerVertical {
  display: flex;
  align-items: center;
}