.modal {
    min-height: 5vh;
    height: inherit;
    width: 44vw;
    transition: width .5s ease,height .5s ease .5s;
    /* position: absolute;
    top: 25vh;
    left: 25%;
    z-index: 10000; */
    border: 1px solid #fff;
    border-radius: 5px;
    background: aliceblue;
}
.content {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 1.2rem;
    padding: 2% 0 2% 2%;
    /* text-align: center; */
    /* transform: translate3d(0,50%,0); */
    transition: color .5s ease;
    width: 100%;
}
.msg-success {
    color: green;
    font-weight: 600;
    font-size: 1rem;
    background-color: #f0f7fb;
    border-left: solid 4px #3498db;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}
.msg-failed {
  color: red;
  font-weight: 600;
  font-size: 1rem;
  background-color: #f0f7fb;
  border-left: solid 4px #3498db;
  line-height: 18px;
  overflow: hidden;
  padding: 12px;
  margin-bottom: 1%;
}
.msg-box-title {
  padding: 1% 0 1% 1%;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: underline;
}
.title {
  padding: 2%;
  font-size: 1.2rem;
  font-weight: bold;
  background: #c3e3ff;
}
.footer {
  padding: 2%;
  font-size: 1rem;
  font-weight: bold;
}
.msg-container {
  display: flex;
  flex-basis: 60%; /*100%;*/
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 1rem;
  background-color: #f0f7fb;
  /* border-left: solid 4px #3498db; */
  line-height: 18px;
  overflow: hidden;
  padding: 12px;
}
.icon-container {
  display: flex;
  order: 0;
  flex-basis: 10%;
  justify-content: space-around;
}
.text-container {
  display: flex;
  order: 1;
  flex-basis: 90%;
}
.msg-failed .member-name {
  font-size: medium;
  color: indigo;
  font-weight: 600;
  /* text-decoration: underline;*/ 
}
.modal-cont {
  display: block; /*flex;*/
  flex-basis: 100%;
  flex-wrap: wrap;
  position: absolute;
  top: 5vh;
  left: 25%;
  z-index: 10000;
}
.modal-idcard {
  display: block; /*flex;*/
  flex-basis: 100%;
  order: 0;
  padding-bottom: 1%;
}
.modal-div {
  display: flex;
  flex-basis : 100%;
  order: 1;
}